# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/

# Data files
*.csv
data/
app/uploads/

# Models
*.pkl
models/

# Reports & outputs
reports/
*.png

# Notebooks checkpoints
.ipynb_checkpoints/
